extends layout.pug
	
block content
	section#content
		h2= text
		p 
			if side === 'question'
				i Hint: #{hint} 
				br
				br
				a(href=`/cards/${id}?side=answer`) Answer
			else
				a(href=`/cards/${id}?side=question`) Question
			br
			br
			a(href="/cards") Next card