extends layout.pug
	
block content
	section#content
		h2 Welcome student!
		form(action='/hello', method='post')
			label Give me your name:
				input(type='text' name='surname')
			button(type='submit') Submit
	