extends layout.pug
	
block content
	section#content
		if name
			h2 Welcome #{name}!
		else
			form(action='/hello', method='post')
				label Give me your name:
					input(type='text' name='username')
				button(type='submit') Submit
	