extends layout.pug

block content
	section.namecard
		div.namecard-hello
			p.namecard-greeting Welcome #{name}
			if name
				form.namecard-exit(action='/goodbye', method='post')
					button(type='submit') 
						img(src='/static/img/close.svg')
			else
				p
					i Hint: #{hint}
		h1.namecard-prompt Let's get started!
		a.namecard-submit(href="/cards") Begin!
