doctype html
html(lang="pl")
	head
		title Flash cards
		link(rel='stylesheet' href='/static/stylesheets/style.css')
	body
		include header.pug
		// This lets Pug know that any template extending the layout can inject its HTML there.
		block content
	
	